.card {
    border: 1px solid black;
    box-shadow: 2px 2px #4c4c4c;
    margin: 1%;
    width: 30%;
    display: inline-block;
}
fa-icon{
    cursor: pointer;
}
.color-grey{
    background-color: #dddcdc;
}
.color-blue{
    background-color: #d6e9fe;
}