h1{
    background-color: darkblue;
    color: white;
    height: 55px;
    padding-left: 10px;
}
.admin{
    font-size: 20px;
    position: relative;
    top: 15px;
    right: 10px; 
    cursor: pointer;
}
fa-icon{
    padding-right: 5px;
}