/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.width50{
    width: 50%;
}
.marg_R0{
    margin-right:0; 
}
.padd_10 {
    padding: 10px;
}
.marg_10{
    margin: 10px;
}
.error{
    color: red;
    font-size:12px;
}